/* -------------------------
   PINS COLORS
------------------------- */

:root {
    --pins-top: #00c9ff;
    --pins-middle: #00b4ff;
    --pins-bottom: #009cff;
}


/* -------------------------
   BASE PAGE
------------------------- */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    min-height: 100%;
}

body {
    min-height: 100vh;

    background:
        linear-gradient(
            180deg,
            var(--pins-top) 0%,
            var(--pins-middle) 50%,
            var(--pins-bottom) 100%
        );

    color: white;

    font-family: Arial, Helvetica, sans-serif;

    text-align: center;
}


/* -------------------------
   HEADER
------------------------- */

header {
    padding-top: 20px;
}

.pins-logo {
    display: block;

    width: min(90%, 2200px);
    height: auto;

    margin: 0 auto;
}

/* -------------------------
   NAVIGATION
------------------------- */

nav {
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;

    margin: 0 8px;
}

nav a:hover {
    text-decoration: underline;
}


/* -------------------------
   DESCRIPTION
------------------------- */

.game-description {
    max-width: 600px;

    margin: 50px auto 0;

    padding: 0 20px;

    font-size: 80px;
    line-height: 1.5;
}


.SeperatorLarge{
   width: min(90%, 1900px);
   height: min(90%, 200px);;
   margin: 400px auto 400px;
}

.SeperatorSmall{
   width: min(90%, 950px);
   height: min(90%, 100px);;
   margin: 200px auto 200px;
}

.AppIcon{
   width: min(90%, 512px);
   height: auto;

   margin: 600px auto 100px;
}








